@import 'variables';
@import 'mixins';
@import 'base';
@import 'layout';
//@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/*header strat*/

fieldset,
label {
    margin: 0;
    padding: 0;
}


/*nav bar*/

header {
    @include header;
}

.active {
    @include active;
    @include smooth(.5s);
    position: absolute;
    bottom: 40px;
    left: 42%;
    cursor: pointer;
    &:hover {
        background-color: $blue;
    }
}

.activeli {
    color: #3480E3;
}

//start Lesson
.lesson {
    .col-md-2 {
        background-color: rgba(52, 128, 227, 0.1);
        .arrow {
            padding: 30px 0;
            li {
                margin-bottom: 15px;
                font-size: 18px;
                i {
                    margin-left: 15px;
                }
                &:hover {
                    cursor: pointer;
                    @include smooth(.8s);
                }
            }
        }
    }
    .content {
        display: block;
        padding: 30px 0;
        .video {
            video {
                width: 90%;
                height: auto;
                display: block;
                margin: 0 auto;
            }
            .rating {
                border: none;
                text-align: center;
                margin: 0 auto;
                margin-top: 20px;
                width: 25%;
                > {
                    input {
                        display: none;
                    }
                    label:before {
                        margin: 5px;
                        font-size: 1.25em;
                        font-family: FontAwesome;
                        display: inline-block;
                        content: "\f005";
                    }
                    label {
                        color: #ddd;
                        float: right;
                    }
                    input:checked~label {
                        color: #FFD700;
                    }
                }
                &:not(:checked)>label:hover {
                    color: #FFD700;
                    ~label {
                        color: #FFD700;
                    }
                }
                > {
                    input:checked {
                        +label:hover,
                        ~label:hover {
                            color: #FFED85;
                        }
                    }
                    label:hover~input:checked~label,
                    input:checked~label:hover~label {
                        color: #FFED85;
                    }
                }
            }
            /***** CSS Magic to Highlight Stars on Hover *****/
            /* hover previous stars in list */
        }
        .read {
            display: block;
            embed {
                width: 85%;
                height: 700px;
            }
        }
        .questions {
            padding: 25px 15px;
            margin: 0 auto;
            border-radius: 10px;
            width: 85%;
            margin: 0 auto;
            -webkit-background-color: rgba(52, 128, 227, 0.1);
            -o-background-color: rgba(52, 128, 227, 0.1);
            -moz-background-color: rgba(52, 128, 227, 0.1);
            background-color: rgba(52, 128, 227, 0.1);
            -webkit-contain: content;
            -o-contain: content;
            -moz-contain: content;
            overflow: auto;
            h3,
            h2 {
                color: $blue;
            }
            form {
                ul {
                    border-bottom: 1px dotted #ccc;
                    width: 100%;
                    float: right;
                    li {
                        .option-input {
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            -ms-appearance: none;
                            -o-appearance: none;
                            appearance: none;
                            position: relative;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            height: 40px;
                            width: 40px;
                            transition: all 0.15s ease-out 0s;
                            background: #cbd1d8;
                            border: none;
                            color: #fff;
                            cursor: pointer;
                            display: inline-block;
                            margin-right: 0.5rem;
                            outline: none;
                            position: relative;
                            z-index: 1000;
                            content: '';
                            &:hover {
                                background: #9faab7;
                            }
                            &:checked {
                                background: $blue;
                                &::before {
                                    height: 40px;
                                    width: 40px;
                                    position: absolute;
                                    content: '✔';
                                    display: inline-block;
                                    font-size: 26.66667px;
                                    text-align: center;
                                    line-height: 40px;
                                }
                                &::after {
                                    background: $blue;
                                    content: '';
                                    display: block;
                                    position: relative;
                                    z-index: 100;
                                }
                            }
                            &.radio {
                                border-radius: 50%;
                                &::after {
                                    border-radius: 50%;
                                }
                            }
                        }
                        list-style: none;
                        float: right;
                        p {
                            font-size: 20px;
                            font-weight: 700;
                        }
                    }
                }
            }
            .form {
                ul {
                    margin-bottom: 30px;
                    li {
                        position: relative;
                        cursor: pointer;
                        float: left;
                        width: 25%;
                        span {
                            position: relative;
                            display: inline-block;
                            margin: 20px 10px;
                            font-size: 18px;
                            padding: 5px 0px;
                            background: #fff;
                            color: #ccc;
                            border-radius: 5px;
                            width: 80%;
                            @include smooth(.7s);
                            input[type=radio] {
                                margin-left: 10px;
                                cursor: pointer;
                            }
                            input {}
                            &:hover {
                                color: #000;
                                background-color: rgba(52, 128, 227, 0.25);
                            }
                        }
                    }
                }
            }
        }
    }
}

#nextlesson {
    display: none;
    width: 40%;
    margin: 0 auto;
}

//End Lesson
//End footer
footer {
    @include footer;
}

#return-to-top {
    @include arrow;
    #i {
        @include icon;
    }
    &:hover {
        #i {
            color: #fff;
            top: 5px;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .x {
        page-break-after: 0;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .x {
        page-break-after: 0;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width:992px) {
    .lesson .col-md-2 .arrow li {
        margin-bottom: 15px;
        font-size: 13px;
    }
    .active {
        left: 36%;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .x {
        page-break-after: 0;
    }
}

@media (max-width: 480px) {
    footer {
        text-align: center;
        .col-md-8 {
            padding-left: 50px
        }
        .soical-icon {
            text-align: center;
            li {
                margin: 0 10px;
                i {
                    text-align: center
                }
            }
        }
    }
    .active {
        left: 30%;
    }
    .lesson .content #v video {
        width: 100%;
        border-radius: 5px;
    }
    .lesson .content #v .rating {
        width: 100%;
    }
    .lesson .content .questions form ul {
        border-bottom: none;
        width: 100%;
        float: right;
        margin-bottom: 35px;
    }
    .lesson {
        .content {
            .questions {
                width: 100%;
                padding: 20px 0 20px 30px;
                .form {
                    ul {
                        width: 100%;
                        border: none;
                        li {
                            float: right;
                        }
                    }
                }
            }
        }
    }
}

@include footerMedia;