@import "variables";
@import "mixins";
@import "base";
@import "layout";
body {
    font-family: $primary_fonts;
}


/*nav bar*/

header {
    @include header;
}

//End Heaer
//payemnr
.payment {
    /* CSS for Credit Card Payment form */
    margin-top: 100px;
    .card {
        margin: 30px auto !important;
        padding: 0 20px;
        border-radius: 10px;
        box-shadow: 0 0 25px 0 rgba(204, 204, 204, 0.5);
    }
    .nav-pills .nav-link.active,
    .show>.nav-pills .nav-link,
    .btn-primary {
        background: #3480E3;
    }
}

//footer
footer {
    @include footer;
}

//arrow
#return-to-top {
    @include arrow;
    #i {
        @include icon;
    }
    &:hover {
        #i {
            color: #fff;
            top: 5px;
        }
    }
}

//End footer
// midai query
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Medium devices (tablets, 768px and up)
@media (max-width:1024px) {}


/* Landscape phone to portrait tablet */

@media (max-width: 768px) {}

// Small devices (landscape phones, 576px and up)
@media (max-width: 480px) {}

@include footerMedia;