@import 'variables';
@import 'mixins';
@import 'base';

/*header strat*/


/*nav bar*/

header {
    @include header;
}

.active {
    @include active;
    cursor: pointer;
    @include smooth(.5s);
    &:hover {
        background: $blue;
    }
}


/*end header*/

.change-info {
    margin: 40px 0;
    .pic {
        margin: 0 auto;
        img {
            height: auto;
            width: 250px;
            border-radius: 50%;
        }
    }
    .second {
        margin: 20px 0 auto;
        text-align: center;
        font-weight: 700;
        .l1 {
            width: 43%;
            cursor: pointer;
            border-bottom: 1px solid #000;
            input[type=file] {
                display: none
            }
        }
    }
    .form-control {
        background-color: #EDEDED;
        margin-bottom: 30px;
    }
}


/*start footer*/

footer {
    @include footer;
}

#return-to-top {
    @include arrow;
    #i {
        @include icon;
    }
    &:hover {
        #i {
            color: #fff;
            top: 5px;
        }
    }
}


/*media query*/


/* Large desktop */

@media (min-width: 1200px) {}

@media(min-width:980) and (max-width:1024) {
    .change-info .second .l1 {
        width: 70%;
    }
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    .change-info .second .l1 {
        width: 70%;
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {}


/* Landscape phones and down */

@media (max-width: 480px) {
    .change-info .second .l1 {
        width: 50%;
    }
    .active {
        margin-bottom: 40px;
    }
}

@include footerMedia;